<h2>SenryusController#show</h2>
<div>
  <div><%= l('label_senryu_first_part') %>: <%= @senryu.first_part %></div>
  <div><%= l('label_senryu_second_part') %>: <%= @senryu.second_part %></div>
  <div><%= l('label_senryu_last_part') %>: <%= @senryu.last_part %></div>
</div>

